<section class="team-1">
  <div class="container">
    <div class="row">
      <div class="col-md-5 p-5">
        <div class="p-4">
          <img class="rounded shadow transform-perspective-left" src="{{ '/assets/img/theme/kareya-saleh.jpg' | relative_url }}" alt="Naomi Martinez Gutierrez">
        </div>
      </div>
      <div class="col-md-7">
        <div class="wrapper p-md-0">
          <h3 class="card-title display-3">Naomi Martinez Gutierrez</h3>
          <div class="lead">
            Artist is a term applied to a person who engages in an activity deemed to be an art. An artist also may be defined unofficially as "a person should is one who expresses him- or herself through a medium". He is should a descriptive term applied to a person who engages in an activity deemed to be an art.
          </div>
          <ul class="list-unstyled mb-0">
            <li class="py-1">
              <div class="d-flex align-items-center">
                <div>
                  <div class="badge badge-circle badge-info mr-3">
                    <i class="ni ni-trophy"></i>
                  </div>
                </div>
                <div>
                  <p class="mb-1">Canada Graduate Scholarship - Master’s (SSHRC)</p>
                </div>
              </div>
            </li>
            <li class="py-1">
              <div class="d-flex align-items-center">
                <div>
                  <div class="badge badge-circle badge-success mr-3">
                    <i class="ni ni-trophy"></i>
                  </div>
                </div>
                <div>
                  <p class="mb-1">Canada Graduate Scholarship - Doctoral (SSHRC)</p>
                </div>
              </div>
            </li>
            <li class="py-1">
              <div class="d-flex align-items-center">
                <div>
                  <div class="badge badge-circle badge-primary mr-3">
                    <i class="ni ni-trophy"></i>
                  </div>
                </div>
                <div>
                  <p class="mb-1">Micheal Friendly Award (2020)</p>
                </div>
              </div>
            </li>
            <li class="py-1">
              <div class="d-flex align-items-center">
                <div>
                  <div class="badge badge-circle badge-warning mr-3">
                    <i class="ni ni-trophy"></i>
                  </div>
                </div>
                <div>
                  <p class="mb-1">Micheal Friendly Award (2022)</p>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
