<div class="team-2">
  <div class="container">
    <div class="row">
      <div class="col-md-8 mx-auto text-center mt-5" id="skills">
        <h3 class="display-3">Skills</h3>
        <h4 class="lead">This is the paragraph where you can write more details about your team. Keep you user engaged by providing meaningful information.</h4>
      </div>
    </div>

    <div class="row justify-content-center align-items-center">

      <div class="col-lg-2 col-md-4 col-6 mb-4">
        <div class="card">
          <div class="card-body p-2 text-center">
            <img src="{{ '/assets/img/logos/Rsoft.jpg' | relative_url }}" class="img-fluid rounded" alt="Rsoft Logo" style="height: 100px; object-fit: contain;">
          </div>
        </div>
      </div>

      <div class="col-lg-2 col-md-4 col-6 mb-4">
        <div class="card">
          <div class="card-body p-2 text-center">
            <img src="{{ '/assets/img/logos/shinylogo.jpg' | relative_url }}" class="img-fluid rounded" alt="Shiny Logo" style="height: 100px; object-fit: contain;">
          </div>
        </div>
      </div>

      <div class="col-lg-2 col-md-4 col-6 mb-4">
        <div class="card">
          <div class="card-body p-2 text-center">
            <img src="{{ '/assets/img/logos/python.jpg' | relative_url }}" class="img-fluid rounded" alt="Python Logo" style="height: 100px; object-fit: contain;">
          </div>
        </div>
      </div>

      <div class="col-lg-2 col-md-4 col-6 mb-4">
        <div class="card">
          <div class="card-body p-2 text-center">
            <img src="{{ '/assets/img/logos/mplus.jpg' | relative_url }}" class="img-fluid rounded" alt="Mplus Logo" style="height: 100px; object-fit: contain;">
          </div>
        </div>
      </div>

      <div class="col-lg-2 col-md-4 col-6 mb-4">
        <div class="card">
          <div class="card-body p-2 text-center">
            <img src="{{ '/assets/img/logos/team-5.jpg' | relative_url }}" class="img-fluid rounded" alt="SPSS Logo" style="height: 100px; object-fit: contain;">
          </div>
        </div>
      </div>

      <div class="col-lg-2 col-md-4 col-6 mb-4">
        <div class="card">
          <div class="card-body p-2 text-center">
            <img src="{{ '/assets/img/logos/atikh.jpg' | relative_url }}" class="img-fluid rounded" alt="MATLAB Logo" style="height: 100px; object-fit: contain;">
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
