<div class="team-4">
  <div class="container">
    <div class="row">
      <div class="col-md-8 mx-auto text-center mb-5">
        <h3 class="display-3">Presentations</h3>
        <p class="lead">A presentation on the interpretation of clinical significance in psychological research.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-10 ml-auto mr-auto">
        <div class="card">
          <div class="card-body">

            <div style="position: relative; width: 100%; height: 0; padding-top: 75%;
                        padding-bottom: 0; box-shadow: 0 2px 8px 0 rgba(63,69,81,0.16); margin-top: 1.6em; margin-bottom: 0.9em; overflow: hidden;
                        border-radius: 8px; will-change: transform;">
              <iframe loading="lazy" style="position: absolute; width: 100%; height: 100%; top: 0; left: 0; border: none; padding: 0;margin: 0;"
                src="https://www.canva.com/design/DAGm6tTczkM/o4LDKY554o9aBvb63PpOOA/view?embed" allowfullscreen="allowfullscreen" allow="fullscreen">
              </iframe>
            </div>

            <div class="text-center mt-4">
              <a href="/assets/pdf/your-presentation.pdf" class="btn btn-primary" download>
                <i class="ni ni-cloud-download-95 mr-2"></i>Download PDF
              </a>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
