---
layout: default
type: blogListing
---

<!-- Add this CSS for the responsive iframe -->
<style>
  .iframe-container {
    overflow: hidden;
    position: relative;
    width: 100%;
    /* Set the aspect ratio of the iframe (e.g., 4:3) */
    /* You can adjust this percentage to change the height */
    padding-top: 75%; /* (height/width*100) */
  }

  .iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid #dee2e6; /* Optional: adds a light border */
  }
</style>

{% if site.data.settings.blog_settings.theme == "narrow" %}
<div class="page-header page-header-small bg-secondary fullWidth ">
  <div class="container contentWrapper">
    <div class="row">
      <div class="col-lg-10 mx-auto text-center pt-4">
        <h2 class="display-2">{{ page.title }}</h2>
        <h2 class="lead pl-5 pr-5 pb-3 text-center">{{page.subtitle}}</h2>
      </div>
    </div>
  </div>
</div>

<!-- Shiny App Embed -->
<section class="container mt-5">
  <div class="iframe-container rounded shadow">
    <iframe src="https://naomimg.shinyapps.io/mod1/" allowfullscreen></iframe>
  </div>
</section>

<section class="blog main-raised">
  {% include blogs.html %}
</section>

{% endif %}

{% if site.data.settings.blog_settings.theme == "basic" %}
<div class="page-header page-header-small bg-secondary fullWidth ">
  <div class="container contentWrapper">
    <div class="row">
      <div class="col-lg-10 mx-auto text-center pt-4">
        <h2 class="display-2">{{ page.title }}</h2>
        <h2 class="lead pl-5 pr-5 pb-3 text-center">{{page.subtitle}}</h2>
      </div>
    </div>
  </div>
</div>

<!-- Shiny App Embed -->
<section class="container mt-5">
  <div class="iframe-container rounded shadow">
    <iframe src="https://naomimg.shinyapps.io/mod1/" allowfullscreen></iframe>
  </div>
</section>

<section class="blog mt-5">
  {% include blogs.html %}
</section>

{% endif %}

{% if site.data.settings.blog_settings.theme == "grid" %}
<div class="page-header page-header-small bg-secondary fullWidth ">
  <div class="container contentWrapper">
    <div class="row">
      <div class="col-lg-10 mx-auto text-center pt-4">
        <h2 class="display-2">{{ page.title }}</h2>
        <h2 class="lead pl-5 pr-5 pb-3 text-center">{{page.subtitle}}</h2>
      </div>
    </div>
  </div>
</div>

<!-- Shiny App Embed -->
<section class="container mt-5">
  <div class="iframe-container rounded shadow">
    <iframe src="https://naomimg.shinyapps.io/mod1/" allowfullscreen></iframe>
  </div>
</section>

<section class="blog">
  {% include blogs.html %}
</section>

{% endif %}
